# devs
dump
src/experimental/*
AGENTS.md
notebooks/models

# secrets
.env

# envs
.venv
.venv-vibe

# dependencies
node_modules
package-lock.json
package.json

# Caches
__pycache__
__pycache__/*
*.pyc
*.DS_Store


# data
## audio files
*.wav
*.WAV

## db
*.duckdb

# models
qwen-3-tts

